.card {
	display: flex;
	padding: 20px 30px;
	width: 400px;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	border-left: 2px solid green;
	margin-bottom: 30px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: overlay;
	transition: 0.3s;
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card:hover {
	box-shadow:
		rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.3) 0px 2px 6px 2px;
}

.card h4 {
	font-size: 25px;
}

.card p {
	font-size: 22px;
}

.trash {
	position: absolute;
	right: -10px;
	top: -10px;
	background-color: #ffffff;
	font-size: 10px;
	cursor: pointer;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.edit {
	position: absolute;
	bottom: -10px;
	right: -10px;
	background-color: #ffffff;
	font-size: 10px;
	cursor: pointer;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.trash:hover {
	background-color: #fbfbfb;
}

.edit:hover {
	background-color: #fbfbfb;
}

.card:hover .trash {
	opacity: 1;
	visibility: visible;
}

.card:hover .edit {
	opacity: 1;
	visibility: visible;
}

.time {
	position: absolute;
	left: 10px;
	bottom: -15px;
	background-color: #ffffff;
	opacity: 0.5;
	font-style: italic;
	font-size: 10px;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
}

.card:hover .time {
	opacity: 0.5;
	visibility: visible;
}
